<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Treaddit</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="padding: 2%;">
  <!-- header-->
  <header>
    <!-- Main Navigation bar-->
    <nav class="navbar">
      <div class="container-fluid">
        <!-- display fav, add trail btn, and login btn-->
        <ul class="nav navbar-nav navbar-right">
          <button id="add-trail-btn" class="btn navbar-btn" data-toggle="modal" data-target="#addTrailModal"><span class="glyphicon glyphicon-plus"></span> Add Trail </button>
          <button id="login-btn" class="btn navbar-btn" data-toggle="modal" data-target="#loginModal" ><span class="glyphicon glyphicon-user"></span> Login </button>
        </ul>
      </div>
    </nav>
    
    <!-- App name and slogan -->
    <div class="text-center">
      <a href="/"><h2> Treaddit </h2></a>
      <h4 class="text-success"> " I could never resist the call of the Trail " </h4>
    </div>
  </header>

  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Login Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> LOGIN </h4>
        </div>

        <div class="modal-body">
          <!-- Existing user login form -->
          <div class="text-center">
              <form id="login_form">
                <div class="form-inline">
                  <div class="input-group"><input type="email" id="login_email" name="login_email" placeholder="Email@Email.com" required/></div>
                  <div class="input-group"><input type="password" id="login_password" name="login_password" placeholder="Password" required/></div>
                </div></br>
                <div><button class="btn btn-success" style="background-color: #809712ff;" id="login_btn" value="Log In" type="submit">Sign In</button></div>
              </form>
          </div>

          <h3 class="text-center"><small>Don't have an account? Sign up below! </small></h3>
          <!-- Sign up form -->
          <form id="create_user_form" class="text-center">
            <div><input type="text" id="create_username" name="create_username" placeholder="User Name" required/></div></br>
            <div><input type="text" id="create_email" name="create_email" placeholder="Email@Email.com" required/></div></br>
            <div><input type="password" id="create_password" name="create_password" placeholder="Create Password" required/></div></br>
            <div><button class="btn btn-success" style="background-color: #809712ff;" type="submit" value="Create User">Create Account</button></div>
          </form>
        </div>
        <div class="modal-footer"></div>

      </div> 
    </div>
  </div>

  <!-- Add Trail Modal -->
  <div class="modal fade" id="addTrailModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Login Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><small>Create New Trail</small></h4>
        </div>

        <div class="modal-body">
          <!-- Create New Trail -->
          <form id="create_trail_form" class="text-center">
            <div><input type="text" id="trail_name" name="trail_name" placeholder="Trail Name" required/></div></br>
            <div><input type="text" id="trail_length" name="trail_length" placeholder="Miles" required/></div></br>

            <div>
              <label class="checkbox-inline">
                <input type="checkbox" id="dog_friendly" name="dog_friendly">Dog Friendly
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="bike_friendly" name="bike_friendly">Bike Friendly
              </label>
            </div><br>

            <div><input type="text" id="difficulty" name="difficulty" placeholder="Difficulty" required></div></br>
            <div><input type="text" id="description" name="description" placeholder="Brief trail description..." required></div></br>
            <button class="btn btn-success" style="background-color: #809712ff;" type="submit" value="Create Trail">Add New Trail</button>
          </form>
            

        </div>


      </div> 
    </div>
  </div>

  <!-- Trail body -->
  <main style="padding: 5%;">
    {{{ body }}}
  </main>
  <script type="text/javascript" src="/javascript/homePage.js"></script>
</body>


</html>