<div class="text-center" style="border-bottom: 2px solid lightgray;">
    <h3>{{trail.name}}</h3><br>
    <p>{{trail.description}}</p><br>
    <img style="max-width: 500px;" src="{{trail.img_ref}}">
</div><br>

<div class="container">
    <div class="row">
        {{#if loggedIn}}
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="row" style="padding: 20px;">
                    <form id="comment-form">
                            
                        <div class="col-sm-12">
                        <textarea class="form-control" rows="4" id="addCommentText" placeholder="This trail... "></textarea><br>
                        <button type="submit" class="btn btn-success" style="background-color: #809712ff;">Add Comment</button>
                        </div>
                    
                    </form>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="col-sm-12">
            {{#each trail.comments as |comment|}}
            <div class="well" style="background-color: #d2dee0ff;">
                <p>{{comment.comment_text}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="/javascript/commentHandler.js"></script>

