<p>Homepage!</p>

<form id="login_form">
    <label for="email">Email:</label>
    <input type="text" id="login_email" name="login_email"><br>
    <label for="password">Password:</label>
    <input type="password" id="login_password" name="login_password"><br>
    <input type="submit" value="Log In">
</form><br><br>

<form id="create_user_form">
    <label for="username">Username:</label>
    <input type="text" id="create_username" name="create_username"><br>
    <label for="email">Email:</label>
    <input type="text" id="create_email" name="create_email"><br>
    <label for="password">Password:</label>
    <input type="password" id="create_password" name="create_password"><br>
    <input type="submit" value="Create User">
</form><br><br>

<form id="create_trail_form">
    <label for="trail_name">Trail Name:</label>
    <input type="text" id="trail_name" name="trail_name"><br>
    <label for="trail_length">Trail Length (mi):</label>
    <input type="text" id="trail_length" name="trail_length"><br>
    <label for="dog_friendly">Dog Friendly?</label>
    <input type="checkbox" id="dog_friendly" name="dog_friendly"><br>
    <label for="difficulty">Trail Difficulty</label>
    <input type="text" id="difficulty" name="difficulty"><br>
    <label for="description">Description</label>
    <input type="text" id="description" name="description"><br>
    <input type="submit" value="Create Trail">
</form><br><br>