
  <div class="container-fluid" style="width: 80%;">
    <div class="row">
        <div class="col-sm-12 deck" style="background-color: #d2dee0ff; padding: 10px">
            <div class="row">
                <h4 class="col-md-8 col-lg-10">This is a trail </h4>
                <button id="trashBtn" class="btn"><span class="glyphicon glyphicon-trash"></span></button>
                <button href="#demo" data-toggle="collapse" class="btn"><span class="glyphicon glyphicon-pencil"></span></button>
            </div>
            <div id="demo" class="collapse">
                <p>Edit Name</p>
                <p>Edit Miles</p>
                <p>Edit Difficulty</p>
                <p>Edit animals</p>
                <p>Edit image url</p>
                <p>Edit description</p>
                <button id="updateBtn" class="btn"><span class="glyphicon glyphicon-save"></span></button>
            </div>
        </div>
    </div>
