<!-- Filter Bar -->
  <section>
    <div class="text-center" style="padding: 20px;">
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Trail Name" name="searchName">
          </div>
          <div class="input-group">
            <div class="input-group-btn">
              <button class="btn filterBtn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
          <div class="input-group">
              <a id="favorite-btn" class="btn filterBtn" href="/favorites/1" > Favorites <span class="glyphicon glyphicon-heart"></span></a>
          </div>
              <div class="input-group">
              <a id="myTrail-btn" class="btn filterBtn" href="/users/1"> My Trails <span class="glyphicon glyphicon-cog"></span></a>
          </div>
        </form>
    </div>
  </section>

<p>update trail menu</p>
<p>Delete trail</p>